body{
background-color: #222;
}
.card{
  max-width: 470px;
  max-height:600px;
  background:linear-gradient(135deg, #00feba,#5b548a);
  color:#fff;
  border-radius: 20px;
  text-align: center;
  margin:100px auto 0;
  padding: 40px 35px;
}
.search{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input{
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height:40px;
  border-radius: 30px;
  flex:1;
  margin-right: 16px;
  font-size: 18px;
}
.search button{
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width:50px;
  height:50px;
  cursor: pointer;
}
.search button img{
  width:16px;
}
.weather{
  display: none;
}
.weather-icon{
  width: 170px;
  margin-top: 35px;
}
.weather h1{
  font-size: 60px;
  font-weight: 500px;
}
.weather h2{
  font-size:40px;
  font-weight:400px;
  margin-top: -30px;
}
.details{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}
.details img{
  width: 60px;
  margin-right: 10px;
}
.humidity, .wind{
  font-size:28px;
  margin-top: -6px;
  margin-left: 10px;
}
.col2{
  position: relative;
  left:250px;
  top:-150px;
  display: flex;
}
.col1{
  display: flex;
}
.error{
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}
